/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

.wrap {
  display: flex;

  height: 100vh;
}

.wrap>.container-fluid {
  max-width: 768px;
}